<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Replace Or Suggest</title>
</head>
<body>
    <%- include('heading.ejs') %>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <form action="/override" method="post">
                    <input type="hidden" name="title" value="<%= title %>">
                    <input type="hidden" name="start" value="<%= start %>">
                    <input type="hidden" name="end" value="<%= end %>">
                    <br>
                    <p class="text-xl  text-black">Already appointment exists in the given time. Do you want to delete the old appointment and replace with new appointment?</p>
                    <br>
                    <button type="Submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Replace</button>
                    <a href="/appointment" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2">Cancel</a>
                </form>
            </div>
        </div>
</body>
</html>